/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode



# Directorios
/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode

# Archivos
/.env
/.env.backup
/.env.example
Homestead.json
Homestead.yaml
composer.lock
npm-debug.log
yarn-error.log
.env.*
.phpunit.result.cache

